<!DOCTYPE html>
<html>
	<head>
		<title>share with you</title>
		
		<meta name="keywords" content="阅读，分享" />
		<meta name="description" content="阅读，分享">
		<!-- <#include "head.html"> -->
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
			<!-- 为移动设备添加 viewport -->
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
				
		    	<meta name="author" content="www.uames.com">
		    	<meta name="revised" content="uames,9/30/2015">
		    	
		    	<!-- 定义网页搜索引擎索引方式，使用英文逗号「,」分隔，常有如下几种取值：none,noindex,nofollow,all,index和follow -->
		    	<meta name="robots" content="index,follow" />
		    	
			<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
			<link rel="stylesheet" type="text/css" href="../css/main.css">



		<style>
			.k {
				padding:100px;
				margin:10px;
				border-radius:5px;
				cursor:pointer;
				font:italic bold 35px arial,sans-serif;
			}
		</style>
	</head>
	<body class="bggray">
		<div class="container">
			<div class="row">
				<div class="col-md-3 bg-info k g6" draggable="true">Read</div>
				<div class="col-md-3 bg-primary k gc" draggable="true">Song</div>
				<div class="col-md-3 bg-success k g0" draggable="true">Video</div>
			</div>
			<div class="row">
				<div class="col-md-6 bg-warning k g3" draggable="true">Image</div>
				<div class="col-md-3 bg-danger k g6" draggable="true">Film</div>
			</div>
		</div>
	</body>
</html>